.App {
    text-align: center;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.problem-list,
.form-container {
    width: 50%;
}

.problem-list {
    width: 10%;
    height: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.selected-problem {
    position: fixed;
    top: 50%;
    right: calc(100% - 52%); /* Adjust as needed */
    transform: translateY(-50%);
    width: 30%; /* Adjust as needed */
    max-height: 80vh; /* Adjust as needed */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto; /* Use auto to display scrollbar only when needed */
}

.form-container {
    padding-left: 20px;
}

.problem-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.problem-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.problem-list li:hover {
    background-color: #f0f0f0;
}
